<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>X-Spoiler</title>
</head>
<body>
  <x-spoiler>
    Содержимое тега.
  </x-spoiler>

  <br><br>

  <x-spoiler text-when-close="Узреть" text-when-open="Скрыть">
    Ещё один x-spoiler с настроенным текстом
  </x-spoiler>

  <br><br>

  <x-spoiler opened>
    Изначально открытый элемент
  </x-spoiler>

  <template id="x-spoiler">
    <style>
      :host > section {
        display: none;
      }
      :host([opened]) > section {
        display: block;
      }
    </style>
    <button type="button"></button>
    <section><slot></slot></section>
  </template>
<script src="app.js"></script>
</body>
</html>
